{% extends "_layout" %}
{% block content %}

    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-grid" uk-grid>
                <div class="uk-width-1-1">
                    <h2>Forgot Password?</h2>
                </div>
            </div>
        </div>
        <div class="uk-container">
            <div class="uk-grid" uk-grid>
                <div class="uk-width-1-1 uk-width-3-4@m">
                    <p class="center">Forgot your password? Enter your email address below and click submit. You will receive an automated email with instructions for resetting your password.</p>
                    <form class="uk-form-stacked" method="post" accept-charset="UTF-8">
                        <input type="hidden" name="action" value="users/forgotPassword">
                        <input type="hidden" name="redirect" value="/volunteer/emailconfirmation">

                        <div class="uk-grid uk-grid-small" uk-grid>
                            <div class="uk-width-1-1">
                                <div class="uk-form-controls">
                                    <input id="loginName" type="text" name="loginName" class="uk-input uk-width-1-1" placeholder="Email Address" value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.session.rememberedUsername }}{% endif %}">
                                </div>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small" uk-grid>
                            <div class="uk-width-1-1">
                                <div class="uk-form-controls">
                                    <button class="uk-button uk-button-primary" type="submit">
                                        Reset Password
                                    </button>
                                </div>
                            </div>
                        </div>

                        {% if errors is defined %}
                            <ul class="errors">
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}