{% extends "_layout" %}
{% block content %}

    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-grid" uk-grid>
                <div class="uk-width-1-1">
                    <h2>Set your new password</h2>
                </div>
            </div>
        </div>
        <div class="uk-container">
            <div class="uk-grid" uk-grid>
                <div class="uk-width-1-1 uk-width-3-4@m">
                    <p class="center">Enter your new password below and click submit. Your password will change immediately.</p>
                    <form class="uk-form-stacked" method="post" accept-charset="UTF-8">
                        {{ getCsrfInput() }}
                        <input type="hidden" name="redirect" value="">
                        <input type="hidden" name="action" value="users/setPassword">
                        <input type="hidden" name="code" value="{{ code }}">
                        <input type="hidden" name="id" value="{{ id }}">

                        <div class="uk-grid" uk-grid>
                            <div class="uk-width-1-1">
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="newPassword" type="password" name="newPassword" placeholder="Enter New Password">
                                    {% if errors is defined %}
                                        <ul class="errors">
                                            {% for error in errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="uk-width-1-1">
                                <div class="uk-form-controls">
                                    <button class="uk-button uk-button-primary" type="submit">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}