{%- import "_includes/contentkit/layout/grid" as m_grid -%}
{%- import "_includes/contentkit/macros/images" as m_images -%}

{%- set block = block ?? {} -%}
{%- set image = image ?? block["image"] ?? [] -%}
{%- set imageLink = imageLink ?? block["imageLink"].with(['focalPoint'])[0] ?? [] -%}
{%- set class = class ?? block["class"] ?? [] -%}

{%- set class =  [
    class ?? "",
]|filter|join(" ") -%}

{%- set content -%}
    {%- for image in image -%}
        {% if imageLink|length %}
            <a href="{{ imageLink.url }}" {{ imageLink.target ? "target='_blank'" : null }}>
        {% endif %}
        {% if image.extension == 'gif' %}
            <img src="{{ image.url }}" alt="{% if image.altDescription is defined and image.altDescription|length %}{{ image.altDescription|striptags }}{% endif %}"/>
        {% else %}
            {{ m_images.picture({
                image: image,
                sectionContained: section["containSection"] ?? false,
                position: image["focalPoint"] ?? "50% 50%",
                class: class ~ " lazyload",
            }) }}
        {% endif %}
        {% if imageLink|length %}
            </a>
        {% endif %}
    {%- else -%}
        <img src="holder.js/400x250?size=0&auto=yes" style="width:100%;" title="{{ image.title }}" alt="{% if image.altDescription is defined and image.altDescription|length %}{{ image.altDescription|striptags }}{% endif %}">
    {%- endfor -%}
{%- endset -%}

{{ m_grid.column({
    block: block,
    content: content,
    section: section,
}) }}
