{%- set form = form ?? {} -%}
{%- set fields = fields is defined ? fields : form["fieldBlocks"]|default([]) -%}
{%- set actionUrl = actionUrl is defined ? actionUrl : form["actionUrl"]|default("") -%}
{%- set submitLabel = submitLabel is defined ? submitLabel : form["submitLabel"]|default("Submit") -%}
{%- set redirect = redirect is defined ? redirect : form["redirect"]|default(craft.request.url) -%}
{%- set successFlashMessage = successFlashMessage is defined ? successFlashMessage : form["successMessage"]|default("Your message has been sent.") -%}
{%- set toEmail = toEmail is defined ? toEmail : form["toEmail"]|default(craft.config.siteEmail ?? "") %}

<form method="post" class="uk-form uk-form-stacked" action="{{ actionUrl }}" accept-charset="UTF-8" enctype="multipart/form-data">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="contactForm/sendMessage">
    <input type="hidden" name="redirect" value="{{ redirect }}">
    <input type="hidden" name="subject" value="New message from the {{ siteName }} website [Form {{ form.title }}]" />
    <input id="fromEmail" type="hidden" name="fromEmail" value="{% if message.fromEmail is defined %}{{ message.fromEmail }}{%- else -%}{{ craft.config.siteEmail|default("noreply@example.com") }}{% endif %}">
    <input type="hidden" name="notice" value="{{ successFlashMessage|hash }}" />
    <input type="hidden" name="formId" value="{{ form.id|hash }}" />
    <input type="hidden" name="toEmail" value="{{ toEmail|hash }}" />

    {%- for field in fields -%}

        {%- include [
            '_includes/forms/fields/field',
            '_includes/contentkit/forms/fields/field',
        ] ignore missing with {
            form: form,
            field: field,
        } only -%}

    {%- endfor -%}

    <div class="uk-form-row">
        <button type="submit" class="uk-button">{{ submitLabel }}</button>
    </div>
</form>
