{%- set field = field ?? {} -%}
{%- set class = field["class"] ?? "" -%}
{%- set id = field["id"] ?? null -%}
{%- set value = value ?? field["value"] ?? "" -%}
{%- set attributes = field["attributes"] ?? null -%}
{%- set label = field["label"] ?? "" %}
{%- set placeholder = field["placeholder"] ?? "" -%}
{%- set name = field["name"] ?? "message[#{label}]" -%}
{%- set required = field["required"] ?? false %}

{%- set class = [
    (class is defined and class ? class : null),
    (field["width"] ?? 'uk-width-1-1'),
    errors ? "uk-form-danger",
]|filter|join(' ') %}

<textarea
    class="{{ class }}"
    id="{{ id }}"
    name="{{ name }}"
    {% if placeholder|length %}
        placeholder="{{ placeholder }}"
    {% endif %}
    {% if attributes|length %}
        {{ attributes }}
    {% endif %}
    {% if required %}required{% endif %}
>
    {{- value -}}
</textarea>
