
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=7537e840-cb06-42ad-80e3-9ad0af434b10");
    @font-face{
        font-family:"Alternate Gothic W05 No_1";
        src:url("../fonts/f97e0ad6-f124-4d9d-b9ed-b07e150dbf76.eot?#iefix");
        src:url("../fonts/f97e0ad6-f124-4d9d-b9ed-b07e150dbf76.eot?#iefix") format("eot"),url("../fonts/2fa93a7f-a137-4181-88fb-baa48002311b.woff2") format("woff2"),url("../fonts/4acfa57b-2b15-431e-a0bc-f550ce8599ee.woff") format("woff"),url("../fonts/47cab8c1-635d-4afe-981f-8896166d6ae3.ttf") format("truetype");
    }
